#sidebar {
    height: calc(100% - 25px);
}

.animation-fade {
    animation: fade-out 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

@keyframes fade-out {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#sidebar::-webkit-scrollbar {
    width: 10px;
}

#sidebar::-webkit-scrollbar-track {
    background-color: #1e1f1e;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#sidebar::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #098666, #076c53, #1e1f1e);
    border-radius: 5px;
    /* border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; */
}

